.travelQuote {
    text-align: center;
    padding: 10px;
    span {
        font-size: larger;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        color: indianred;
    }
}