<section>
    <mat-card class="loginCard">
        <mat-card-title>
            <div style="text-align: center;">
                TRIPPY LOGIN
            </div>
        </mat-card-title>
        <mat-card-content>
            <mat-grid-list cols='2' rowHeight="1:1">
                <mat-grid-tile>
                    1
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="formDiv">
                        <form>
                            <mat-form-field>
                                <mat-label>Enter Username</mat-label>
                                <input type="text" matInput placeholder="Username">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Enter Password</mat-label>
                                <input type="text" matInput placeholder="Username">
                            </mat-form-field>
                        </form>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</section>